.gradle/*
.repcache/*
.settings/*
build/*
config/*
crash-reports/*
dist/*
eclipse/*
gradle/*
lib/*
mods/*
nbbuild/*
nbproject/*
ReplicatorMod-1.0/*
resourcepacks/*
saves/*
screenshots/*
stats/*
.classpath
.project
build.gradle
build.xml
CREDITS-fml.txt
forge-1.6.4-9.11.1.964-changelog.txt
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
ReplicatorMod-1.0.jar
output-server*
output-client*
ForgeModLoader*
src/main/java/ic2/*
src/main/java/lib/*
src/main/java/org/*
src/main/java/assets/*
src/main/java/com/nexustools/ameteor/*


